/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* GENERAL SETTINGS */
html {
  --cyan: hsl(158, 36%, 37%);
  --cyan-dark: hsla(158, 36%, 24%, 1);
  --cream:  hsl(30, 38%, 92%);

  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0px;
  padding: 0px 20px;
  box-sizing: border-box;
  font-family: "Montserrat";
  background-color: var(--cream);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
    margin: 0px;
    font-family: 'Fraunces', serif;
    font-size: 30px; 
    color: var(--dark-blue);
    margin-top: 8px;
    margin-bottom: 0px;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: var(--grayish-blue);
}

a {
    text-decoration: none;
}

/* CARD COMPONENT */
.card {
    width: 550px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
/* Featured image */
.cover {
    background: url("./images/image-product-desktop.jpg") var(--grayish-blue);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 160%;
}
/* Product description */
.description {
    padding: 20px 25px;
}

.product-tag {
    text-transform: uppercase;
    color: var(--grayish-blue);
    margin: 0px;
    font-weight: 300;
    letter-spacing: 5px;
}

.price-tag {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.price-bg {
    margin: 0px;
    font-size: 24px;
    font-family: 'Fraunces';
    font-weight: 700;
    color: var(--cyan);
    margin-right: 10px;
}

.price-sm {
    margin: 0px;
    text-decoration: line-through;
}

.btn {
    background-color: var(--cyan);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 10px;
    transition: .2s ease-in-out;
}
.btn:hover {
    background-color: var(--cyan-dark);
}

.btn img {
    margin-right: 10px;
}

.btn p {
    color: var(--white);
}

/* MOBILE VIEW */
@media (max-width: 375px) {
    
    .card {
        flex-direction: column; 
        width: 100%;
    }

    .description {
        padding-bottom: 25px;
    }

    .cover {
        background: url('images/image-product-mobile.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 15em;
        width: 100%;
    }

    .price-bg {
        font-size: 2em;
    }
}
