{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class="container">
        <nav>
            <div>
                <a href="/"><img src="{% static 'logo.png' %}" height="48px" alt=""></a>
                <ul>
                    <li><a href="{% url 'home' %}">Articles</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'articles:create' %}">Post</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul>
                {% if user.is_authenticated %}
                    <li><form class="logout" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="cta">Logout</button>
                    </form></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}"><button class="cta">Login</button></a></li>
                    <li><a href="{% url 'accounts:signup' %}"><button class="cta">Sign up</button></a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %} {%endblock%}
    </div>
</body>
</html>