* {
    margin: 0;
    padding: 0;
    /* color: white; */
    /* text-decoration: none; */
}

root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    box-sizing: border-box;
    /* background-color: blue; */
    /* color: white; */
}

/* BASIC */
h1, h2 {
    margin-bottom: 10px;
}

ul {
    display: flex;
}

/* CONTAINERS */
.container {
    max-width: 760px;
    margin: 20px auto;

}

.articles {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.article {
    border: .3px solid black;
    padding: 20px 25px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.cta {
    margin-left: 8px;
}

button:hover {
    background-color: cornflowerblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;

    padding: 10px;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

nav > div {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav > div ul li {
    margin-right: 10px;
}

.banner {
    width: 100%;
    margin: 10px 0 20px 0;
}

p {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.742);
    line-height: 1.5;
}
