html {
  font-family: inter;
}

body {
  background: white;
}

hr {
  width: 200px;
}

h1 {
  text-align: center;
  /* padding-top: 20px; */
}

.container {
  padding: 10px 5% 25px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
}
